.inputs{
       display: flex;
    justify-content: space-between;
}
.inputs>div{
    width: 3rem;

    margin: 2rem;
    font-size: 2rem;
    text-align: center;
    background-color: aqua;
    border: 2px solid black;
}