.formularios{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.formularios label, input{
  margin-right: 10px;
  width: 25%;
}

.filasInputs{
  display: flex;
  width: 100%;
  justify-content:center  
}