.formularios{
  display: flex;
  align-items: center;
  width: 90%;
}
.formularios>label, 
.formularios>input{
  margin-right: 10px;
  width: 25%;
}

.filasInputs{
  display: flex;
  width: 100%;
  justify-content: space-between 
}