/* https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/El_modelo_de_caja

Modelo de Caja: Es la forma en que CSS ve a los elementos HTML y ¿cómo los ve? com
o si fueran cajas con las siguientes propiedades:
  1. El contenido (content): El contenido (texto, imágenes, etc) del elemento HTML, tomando en cuanta sus dimensiones (width & height)
  2. El borde (border): Lo que delimita cada uno de los elementos HTML
  3. El relleno (padding): Son las distancias internas (La distancia del borde al contenido)
  3. El márgen (margin): Son las distancias externas (La distancia entre el elemento html y sus elementos hermanos o padres)

Dentro del modelo de caja hay que considerar que una caja tendrá 4 lados:
  1. Arriba (top)
  2. Derecha (right)
  3. Abajo (bottom)
  4. Izquierda (left) */

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
}

h1 {
  /*   border-color: blueviolet;
  border-width: thick;
  border-style: dashed; */
  /*   border: thick dashed blueviolet; */
  border: 20px solid #ff0000;
  background-color: bisque;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.caja-uno,
.caja-dos {
  background-color: aqua;
  border: 1px solid black;
  /*   padding: 20px;
  margin: 20px;
  margin: 40px 10px;
  padding: 40px 10px; */
  margin: 0px 10px 30px 40px;
  padding: 0px 10px 30px 40px;
}

/* 
Propiedad Display
  inline
  block
  inline-block - Se comporta como un elemento de línea pero acepta modificar sus dimensiones (alto y ancho)
  none
  table
  list-item
  flex 
  grid 
*/
.caja-none,
.caja-linea-bloque,
.caja-hidden {
  background-color: darkgreen;
  color: white;
  width: 600px;
  height: 300px;
  border: 1px solid black;
}
.caja-linea-bloque {
  display: inline-block;
}
.caja-none {
  display: none;
}
.caja-hidden {
  visibility: hidden;
}
.overflow {
  background-color: darkturquoise;
  width: 200px;
  height: 200px;
  padding: 10px;
  /*   overflow: visible;
  overflow: hidden; 
  overflow: scroll;*/
  overflow: auto;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
}
.container-col-3 {
  background-color: burlywood;
  width: 800px;
  height: 300px;
  margin-top: 20px;
  padding-top: 20px;
}
.container-col-3 > * {
  box-sizing: border-box;
  width: 200px;
  border: thin solid red;
  padding: 5px;
  margin: 5px;
  float: left;
}

/* Floats */
.container-floats {
  background-color: cornflowerblue;
}
.float-left {
  float: left;
  background-color: aqua;
}
.float-right {
  float: right;
  background-color: aqua;
}
.clearfix {
  clear: both;
}

/* Centrado de Cajas */
.sitio-web {
  border: thin solid black;
  background-color: thistle;
  width: 80%;
  height: 1000px;
  padding: 16px;
  margin: 20px auto;
}
